.welcome__card {
    display: flex;
    justify-content: center;
    position: relative;
    height: min-content;
    margin: 3em;
    margin-top: 13.5em;
    display: flex;
    border: 3px solid rgb(161, 232, 232);
}
.tagline{
    display: flex;
    justify-content: center;
}
.btn-primary {
    background-color: rgb(112, 251, 61);
    margin-bottom: 2em;
}
.footer {
    background-color: rgb(135, 135, 139);
    border-top: 2px double black;
    position: fixed;
    bottom: 0;
    justify-content: space-evenly;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.myPT {
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
}

.about {
    display: flex;
    margin-right: 8em;
}

.contact {
    display: flex;
    margin-left: 8em;
}

.card-box {
    max-height: fit-content;
    max-width: 100%;
}

.footer_img1 {
    display: flex;
    position: relative;
    opacity: 25%;
    background-color: rgb(116, 123, 123);
    width: 8em;
    height: 6rem;
}
.insta__logo{
    margin: .5em;
}
.footer_img2 {
    display: flex;
    background-color: rgb(116, 123, 123);
    position: relative;
    opacity: 25%;
    width: 10em;
    height: 6rem;
}
#root{
    background-image: url(https://as1.ftcdn.net/v2/jpg/04/37/37/46/1000_F_437374623_dcWp53EfQiW59Vyn8Va62qI64LuULoYo.jpg  );
}

.footer_img3 {
    display: flex;
    position: relative;
    opacity: 25%;
    width: 8em;
    height: 8rem;
}

.li {
    display: flex;
    justify-content: space-between;
}