.text-mute {
    color: black;
    font-size: xx-large;
    font-weight: bolder;
}
.welcome__header {
    display: flex;
    top: 0;
}
.card-img {
    opacity: 85%;
    margin-top: -4em;
    margin-bottom: -2em;
    border: 3px solid red;
    border-radius: 0px 30px 0px 30px;
}
.card-box {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20em;
    margin-bottom: 12em;
    margin-top: -9em;
}
.gorilla-home{
    padding-top: 6em;
    margin-bottom: -4em;
    height: 15em;
}
.welcome__card {
    display: flex;
    justify-content: center;
    position: relative;
    height: min-content;
    margin: 3em;
    margin-top: 12em;
    display: flex;
    background-color: black;
}
.tag-logo{
    display: flex;
    flex-direction: column;
    margin-left: 8em;
    margin-top: -7em;
}
.tagline {
    display: flex;
    justify-content: center;
    margin-top: -11em;
    position: relative;
    margin-bottom: 2em;
    margin-left: 28em;
}
.exercise-games {
    display: flex;
    justify-content: center;
}
.seperation{
    display: flex;
    margin: 1em;
    background-image: radial-gradient(rgb(231, 27, 27), #FFF), radial-gradient(#CCC, #FFF);
    background-position: 0, 100%, 0, 100%;
    border-radius: 40%;
    opacity: 25%;
    height: 1em;
    width: 100%;

}
.taglinenon{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
    font-weight: 500;
}
.taglinenonb{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -12em;
    margin-bottom: 2em;
}
.tag-logonon{
    margin-top: -12em;

}
.footer__link {
    opacity: 100%;
    color: blue;
    text-decoration: underline;
    margin-left: 2em;

}
.snap__logo {
    border-radius: 30%;
}
.welcome-btns {
    display: flex;
    flex-wrap: wrap;
  justify-content: center;
    margin-left: -9em;
    margin-top: -5em;
}
.btn-generate {
    background-color: rgb(24, 81, 151);
    color: ghostwhite;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    width: 14em;
    height: 2em;
}
.btn-games {
    background-color: rgb(24, 81, 151);
    color: ghostwhite;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    width: 14em;
    height: 2em;
}
.overlay{
    border-radius: 40px;
}
.footer {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRI4YQGwDhArxFDOyulHTSctieoQsyXiwXD-6iray7H2inWKO8G6hdOz7ry4Bp6AuQ8J-Y&usqp=CAU");
    border-top: 4px double rgb(216, 9, 9);
    border-radius: 15px 5px 0px 0px;
    justify-content: center;
    position: relative;
    bottom: -3em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contact-about {
    display: flex;

}
.about-link {
    font-size: smaller;
    background-color: goldenrod;
    color: black;
    width: 8em;
    height: 1.9em;
    margin-top: 0.5em;
}
.qoute-box{
    display: flex;
    justify-content: center;
    max-height: fit-content;
}
.qoute {
    font-weight: 700;
    position: relative;
    font-style: italic;
    font-size: xxx-large;
    color: ghostwhite;
}
.contact-link {
    font-size: smaller;
    background-color: goldenrod;
    color: black;
    width: 8em;
    height: 1.9em;
    margin-top: 0.5em;
}
.modals
{
    display: flex;
    justify-content: center;
    
}
.footer-features {
    display: flex;
    flex-direction: column;
}
.footer-resources {
    display: flex;
    flex-direction: column;
}
.font {
    font-size: large;
    font-weight: 800;
}
.myPT {
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
}
.footer-logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.footer-foot {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
}
.font {
    font-size: x-large;
}
.myPT {
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
}
.copyright {
    color: antiquewhite;
}
.background__home {
    background-color: aliceblue;
}
.li {
    display: flex;
    justify-content: space-between;
}
.welcomeIframe{
    border-bottom: 6px solid black;
    border-radius: 140px 140px 10% 10%;
    margin-left: 7em;
    margin-bottom: -2em;
    padding-top: 6em;
}
.welcomeTTIframe {
    margin-right: 3em;
    border-bottom: 6px solid black;
    border-radius: 140px 140px 10% 10%;
    padding-top: 6em;
}
.vertline{
    margin-left: 13em;
    margin-right: -22em;
}
.nonVids{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
@media (max-width: 1405px) {
    .card-img {
        display: flex;
        justify-content: center;
    };
    h1{
        display: flex;
        align-items: center ;
    }
    .nonVids{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1em;
        flex-direction: column;
    }
    .gorilla-home{
        padding-top: 3em;
        margin-bottom: -4em;
        height: 15em;
    }
    .welcome__headernon{
        display: flex;
        justify-content: center ;
        margin-left: 0;
    }
    .btn-games {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 19em;
        background-color: rgb(24, 81, 151);
        color: ghostwhite;
        border-bottom: 3px solid black;
        border-left: 3px solid black;
        width: 14em;
        position: relative;
        height: 2em;
    }
    .welcomeIframe{
        border-bottom: 6px solid black;
        border-radius: 140px 140px 10% 10%;
        padding-top: 6em;
    }
    .welcomeTTIframe {
        border-bottom: 6px solid black;
        border-radius: 140px 140px 10% 10%;
        margin-left: 9em;
        padding-top: 6em;
    }
    .footer {
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRI4YQGwDhArxFDOyulHTSctieoQsyXiwXD-6iray7H2inWKO8G6hdOz7ry4Bp6AuQ8J-Y&usqp=CAU");
        border-top: 4px double rgb(216, 9, 9);
        border-radius: 15px 5px 0px 0px;
        justify-content: center;
        position: relative;
        bottom: -3em;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-items {
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
        margin-left: 6em;
        justify-content: center;
    }

    .footer-features {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .footer-resources {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .contact-about {
        display: flex;
    
    }
    .font{
        display: flex;
        /* justify-content: center; */
    }
    .fontCI{
        display: flex;
        justify-content: center;
    }
    .about-link {
        display: flex;
        justify-content: center;
        font-size: smaller;
        background-color: goldenrod;
        color: black;
        width: 8em;
        height: 1.9em;
        margin-top: 0.5em;
    }
}