h1 {
    display: flex;
    justify-content: center;
    color: aqua;
    font-weight: 700 bolder;
}

.generator__nav {
    display: flex;
    justify-content: space-between;
}
body{
    margin-left: 3em;
}
.generate__header {
    display: flex;
    justify-content: center;
    background-color: #8f969e;
    margin-top: 2em;
}