
h1 {
    display: flex;
    justify-content: center;
    color: aqua;
    font-weight: 700 bolder;
    font-size: 50px;
    padding-bottom: .5em;
}
.gen-page{
    background-image: url("https://img.wallpapersafari.com/desktop/1600/900/67/54/zf1Ups.jpg");

}
.nav__image {
margin-top: 1em;
}
.navbar__link{
    color: black;
    margin-left: 2em;
    margin-right: 2em;
}
.generator__nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: rgb(116, 123, 123);
    border-bottom: 2px solid red;
    border-radius: 0px 0px 5px 15px;
}
.form-weight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 46.5em;
}
#form-height{
    display: flex;
    flex-direction: column;
    margin: 1em;
    /* align-items: center; */
    margin-left: 5em;
}
#ft{
    width: 3em;
}
.choice{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
}
.choices{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em;
}
body{
    margin-left: 3em;
}
.clipart{
    display: flex;
    justify-content: center;
    border-radius: 10%;
    border-style:double;
}
.art {
    display: flex;
    justify-content: center;
}
.inputs{
    text-decoration: underline;
}
.progress-bar{
    display: flex;
    position: relative;
    width: 80%;
    justify-content: flex-end;
    margin-left: 8em;
}
.generate__header {
    display: flex;
    justify-content: center;
    position: relative;
    display: flex;
    border-radius: 10%;
    margin-right: 3em;
    margin-top: 2em;
}
legend {
    display: flex;
    justify-content: center;
    font-size: x-large;
}
.experience {
    display: flex;
    justify-content: start;
}
.beginner{
    font-weight: 200;
}
.intermediate{
    font-weight: 600;
}
.advanced{
    font-weight: 800;
}
.form-controlGen {
  width: 15em;
  border: 1px solid black;
  border-radius: 10%;
}
.ExperienceTitle{
    font-size: xx-large;
    font-style: oblique;
    font-weight: 600;
    margin-top: -1em;
    margin-left: -11.5em;
    text-decoration: underline;
}
.form-select {
    width: 15em;
}
#exampleFile{
    width: 7rem;
    
}
#height{
    display: flex;
    justify-content: start;
    margin-top: 3em;
    margin-left: 19em;
}
.img-file{
    display: flex;
    justify-content: center;
    margin: 3em;
}
.btn-UpdateGen {
    display: flex;
    color: blue;
    background-color: ghostwhite;
}
.btn-UpdateGen:before, .btn-UpdateGen:after{
    width: 20em;
}
.gen-btns{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    position: relative;;
}
@media (max-width: 1405px) {
    .gen-page{
        display: flex;
        background-color: aquamarine;
        background-image: url("https://images.unsplash.com/photo-1535743686920-55e4145369b9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80");
        /* background-color: aqua; */
        justify-content: center;
        flex-direction: column;
    }
    .experience{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
#height{
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    justify-content: center;
}
.mb-3{
    display: flex;
    flex-direction: column;
    margin-left: 4em;
    align-self: flex-start;
}
.ExperienceTitle{
    display: flex;
    align-self: self-end;
}
.btn-UpdateGen {
    display: flex;
    color: black;
    font-weight: 700;
    background-color: steelblue;
}
}

