h1 {
    display: flex;
    justify-content: center;
    color: aqua;
    font-weight: 700 bolder;
    font-size: 50px;
    padding-bottom: .5em;
}
.gen-page{
    background-image: url("https://img.wallpapersafari.com/desktop/1600/900/67/54/zf1Ups.jpg");

}
.nav__image {
margin-top: 1em;
}
.navbar__link{
    color: black;
    margin-left: 2em;
    margin-right: 2em;
}
.generator__nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: rgb(116, 123, 123);
    border-bottom: 2px solid black;
}
.form-weight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-height{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choice{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
body{
    margin-left: 3em;
}
.clipart{
    display: flex;
    justify-content: center;
    border-radius: 10%;
    border-style:double;
}
.art {
    display: flex;
    justify-content: center;
}
.progress-bar{
    display: flex;
    position: relative;
    width: 80%;
    justify-content: flex-end;
    margin-left: 5em;
}
.generate__header {
    display: flex;
    justify-content: center;
    position: relative;
    display: flex;
    border-radius: 10%;
    margin-right: 3em;
    margin-top: 2em;
}
legend {
    display: flex;
    justify-content: center;
    font-size: x-large;
}
.experience {
    display: flex;
    justify-content: space-around;
}
.beginner{
    font-weight: 200;
}
.intermediate{
    font-weight: 600;
}
.advanced{
    font-weight: 800;
}
.form-controlGen {
  width: 15em;
  border: 1px solid black;
  border-radius: 10%;
}
.ExperienceTitle{
    font-size: xx-large;
    font-style: oblique;
    font-weight: 600;
}
.form-select {
    width: 15em;
}
#exampleFile{
    width: 7rem;
}
.img-file{
    display: flex;
    justify-content: center;
    margin: 3em;
}

.btn-UpdateGen {
    display: flex;
    background-color: lightgray;

}
.gen-btns{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    position: relative;;
}

