body {
    background-color: white;
    margin: 0;
}
.exView{
    background-image: url(https://images.unsplash.com/photo-1590487988256-9ed24133863e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fGd5bXxlbnwwfHwwfHw%3D&w=1000&q=80);
    opacity: 90%;
}

.welcome__header{
    position: relative;
    top:1;
}
.exerciseList{
    display: flex;
    flex-wrap: wrap;
}
.workout__exercises {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em;
}
.nameText{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exerciseView__link {
    border: 3px solid red;
    color: black;
    background-color: ghostwhite;
    width: 9em;
}
.workout__exercise {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightsteelblue;
    color: rgb(0, 42, 42);
    font-weight: bolder;
    text-transform: uppercase;
    opacity: 80%;
    flex-wrap: wrap;
    position: relative;
    width: 65%;
    margin-left: 7em;
    margin-bottom: 1em;
    border-radius: 25%;
    border: 5px ridge black;
}
.form-control {
    width: 18em;
}
.name{
    display: flex;
   margin-left: 8em;
}

button {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 1rem;
}
 .workout {
    display: flex;
    justify-content: center;
    color: ghostwhite;
    font-weight: bold;
    text-decoration:solid;
    margin-top: 1.5em;
 }


ul{
    display: flex;
    justify-content: center;
}
.w__e {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    background-color: aliceblue;
    color: rgb(8, 107, 206);
    font-weight: 600;
    text-transform: uppercase;
    border: solid 3px black;
    padding-top: 8px;
    height: 18em;
    border-radius: 20%;
    width: 30%;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    margin: 4em;
}
.navbar__link{
    display: flex;
    margin-right: 1em;
}

.exercisePage {
    background-image: url(https://st.depositphotos.com/1143769/4284/v/950/depositphotos_42847699-stock-illustration-fitness-and-healthy-exercise-word.jpg);
}
.exHead{
    background-color: aliceblue;
}