body {
    background-color: rgb(232, 232, 232);
    margin: 0;
}
.welcome__header{
    position: relative;
    top:1;
}
.exerciseList{
    display: flex;
    flex-wrap: wrap;
}
.workout__exercises {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em;
}
.nameText{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exercise__link {
width: 8em;
}
.workout__exercise {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    width: 65%;
    margin-left: 7em;
    margin-bottom: 1em;
    border-radius: 25%;
    border: 5px ridge black;
}
.form-control {
    width: 18em;
}
.name{
    display: flex;
   margin-left: 8em;
}

button {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 1rem;
}
 .workout {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
 }


ul{
    display: flex;
    justify-content: center;
}
.w__e {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    background-color: aliceblue;
    color: lightslategrey;
    border: solid 1px;
    border-radius: 20%;
    width: 30%;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    margin-top: 4em;
}
.navbar__link{
    display: flex;
    margin-right: 1em;
}

.exercisePage {
    background-image: url(https://t3.ftcdn.net/jpg/03/01/90/18/360_F_301901899_lalLiJJTviVxRPTpJ8ShYIe6TcpLbFqC.jpg );
    /* background-color:aliceblue; */
}