
.title__home {
    display: flex;
   color: aqua;
}
.login__input {
    display: flex;
    width: min-content;
}
.welcome__home {
    font-size: xx-large;
}

.welcome__header {
    display: flex;
}
.welcome__menu {
    color: blue;
    display: flex;
    position: relative ;;
    
}
.Header {
  
    background-color: rgb(197, 207, 207);
height: 2em;
}
.nav__image {
    margin-left: 2em;
    border-radius: 100%;
}