.title__home {
    display: flex;
    font-size: 70%;
    margin-left: 14em;
    color: rgb(119, 205, 205);
 
}

.login__input {
    display: flex;
    width: min-content;
}
.navbar-toggler-icon{
    background-image: url("https://ae01.alicdn.com/kf/HTB1e2SGSbvpK1RjSZFqq6AXUVXax/Gym-fitness-%20exercise-metal-Cutting-Dies-Scrapbooking-craft-Dies-cuts-thin-paper-emboss-%20card-make-stencil.jpg_640x640.jpg");
    border-radius: 50%;
}

.welcome__home {
    display: flex;
    justify-content: center;
    font-size: 60px;
}

.welcome__header {
    display: flex;
}

.navbar-toggler {
    width: 4em;
    top: 0;
    margin-bottom:5em;
    margin-right: 2em;
}

.welcome__menu {
    color: rgb(0, 187, 255);
    display: flex;
    position: relative;
}
.nav-link{
    color:black ;
}


.searching{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 6em;
    z-index: 10;
}
.searchBarDrop{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#dropDown{
    display: flex;
    justify-content: center;
    width: 10em;
}
div.johns{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quickView {
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.tickets{
    background-color: lightsteelblue;
    border: 2px solid gray;
    border-radius: 10px 15px 20px 25px;
}


.Header {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(80, 85, 85);
    border-bottom: 2px solid rgb(217, 41, 41);
    border-radius: 0px 0px 0px 15px;
    height: 2em;
}
.fb__logo{
margin-bottom: .1em;
margin-right: .5em;
}
.nav__logo{
    position: relative;
   margin: .2em;
   margin-right: 1em;
    
}
.nav__image {
    margin-left: 2em;
    border-radius: 100%;
}
.nav__run{
    background-color: black;

}
.nonMember {
    display: flex;
    color: red;
    position: relative;
    justify-content: space-between;
    margin-right: 8em;
    margin-left: 8em;
    text-decoration: underline;
}
.exercise__link{
    border: 1px solid red;
    color: black;
    background-color: ghostwhite;
}